attrs
certifi
chardet
conda
conda-build
coreapi
coreschema
cycler
decorator==4.4.1
django
django-heroku
djangorestframework==3.9.3
django-crispy-forms==1.9.1
dj_database_url
django-adminlte-3==0.1.6
drf-yasg
filelock
gunicorn
h5py
html5lib==1.0.1
idna
imageio
importlib-metadata
inflection
itypes
Jinja2
joblib==0.14.1
json5==0.9.1
jsonschema==3.2.0
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
matplotlib==3.1.3
MarkupSafe
numpy==1.18.1
networkx
numexpr
packaging==19.1
pandas==1.0.1
path==13.1.0
Pillow
pip
psycopg2
pycosat
pyparsing
pyrsistent
python-dateutil
pytz
PyWavelets
PyYAML
requests
setuptools
six
scikit-learn==0.22.1
scikit-image
scipy==1.4.1
seaborn==0.10.0
sqlparse
tables==3.6.1
Theano
uritempalte
urllib3
webencodings
wheel
whitenoise
zipp